@import 'hero';

.typed-cursoe {
  visibility: hidden !important;
  opacity: 0 !important;
}

.hero-pagination {
  z-index: 10;
}

.icon-featured svg > path,
.icon-featured svg > rect {
  opacity: 0;
  visibility: hidden;
  transform: transform 4s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;
  display: block;
  transform: scale(0.2);
  transition-delay: 0.1s;
}

.icon-featured.done svg > path,
.icon-featured.done svg > rect {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition-delay: 0;
}